/** @format */
* {
  margin: 0;
}
.App {
  background-color: gray !important;
  display: flex;
  /*
  justify-content: center;
  margin-inline: auto; */
  /* width: 600px; */
}
.Report {
  background: #E6F2FF;
}

.download-button {
  position: fixed;
  right: 22vw;
  top: 50vh;
  display: flex;
}
.header-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  margin-top: -20px;
}
.header-image>img{
  height: 150px;
}
.header-2{
  margin-top: -50px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
}
.row-1 {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-1 {
  text-align: center;
}
.col-1-text-1 {
  margin: 0px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.02em;

  /* Black */

  color: #2b2f34;
}

.col-1-text-2 {
  margin: 0px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 450;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  width: 80%;
  /* TEXT LABEL COLORS / CHARCOAL */

  color: #595959;
}
.percentage-div {
  /* background-color: white; */
  background: rgb(63,135,251);
  background: linear-gradient(90deg, rgba(63,135,251,1) 0%, rgba(70,228,252,1) 100%);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  width: 50%;
  color: white;
}
.percentage-child-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percentage-text-1{
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21.5px;
}
.percentage-text {
  margin: 0px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.Analysis-text-1 {
  margin: 0px;
  width: 140px;
  height: 30px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 775;
  font-size: 22px;
  color: #2b2f34;
}
.Analysis-text-2 {
  margin: 0px;
  width: 220.09px;
  height: 28px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 10.5px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #595959;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 100px;
  padding-bottom: 20px;
}
.card-heading {
  margin: 0px;
  margin-top: 10px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
}
.card-heading-1,.card-heading-4{
  margin: 0px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
}
.card-heading-2,.card-heading-3{
  margin: 0px;
  margin-top: 50px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
  font-weight: 900;

}
.card-heading-4{
  margin-top: 0px;
  z-index: 2;
}
.row-2 {
  display: flex;
  justify-content: space-evenly;
}
.overall-analysis {
  width: 600px;
  display: flex;
}
.dsa-col,.full-stack-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}
.analysis-text {
  margin-top: 0px;
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
}
.roadmap{
  margin-top: -20px;
  width: 80%;
  margin-inline: auto;
}
.download-btn{
  margin-left: 5px;
}
.analysis-box{
  display: flex;
  justify-content: space-between;
}
#analysis-text-id-dsa,#analysis-text-id-frontend{
  padding: 5px;
  margin-top: 50px;
  line-height: 16px;
  flex: 1;
}
#title {
  font-weight: bold;
}

#content {
  margin-top: 5px;
}

#basics {
  font-weight:900;
  background-color: rgb(252, 234, 98);
}