/** @format */
* {
  margin: 0;
}
.App {
  background-color: gray !important;
  display: flex;
  /*
  justify-content: center;
  margin-inline: auto; */
  /* width: 600px; */
}
.Report {
  background: #E6F2FF;
}

.download-button {
  position: fixed;
  right: 22vw;
  top: 50vh;
  display: flex;
}
.header-bg{
  height: 140px;
  width: 600px;
  object-fit: cover;
}
.accio-nsdc{ 
  margin-top: -150px;
  margin-left: -350px;
  height: 100px;
}
.header-image{
  display: flex;
  flex-direction: column;
  /* margin-top: -20px; */
  /* height: 80px */
}

.header-2{
  margin-top: -25px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  margin-left: 25px;
  width: 300px;
  font-weight: 600;
  font-size: 25px;
}
.row-1 {
  margin-top: -60px;
  display: flex;
  align-items:end;
  justify-content: space-around;
}
.row-1>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meter-1-heading{
  margin: 0px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
}
.meter-div-1{
  width: auto;
  height: 120px;
  border-radius: 10px;
  background-color: white;
  
}
.col-1 {
  text-align: center;
}
.col-1-text-1 {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #2b2f34;
}
.horizontal-line{
  height: 1px;
  width: 100%;
  background-color: #494F56;
  opacity: 0.3;
  margin: 15px auto;
  border-radius: 10px;
}
.percentage-div {
  /* background-color: white; */
  background: rgb(101, 159, 251);
  background: linear-gradient(90deg, rgb(105, 156, 239) 0%, rgba(70,228,252,1) 100%);
  border-radius: 19px;
  border: 1px solid #0077FF;
  padding: 25px;
  margin-top: 10px;
  width: 30%;
  color: white;
}
.percentage-child-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.percentage-text-1{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}
.percentage-text {
  margin: 0px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 43px;
  letter-spacing: 0.05em;
  color: #404040;
  margin: 15px auto;
}
.Analysis-text-1 {
  margin: 0px;
  width: 140px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 775;
  font-size: 22px;
  color: #2b2f34;
}
.Analysis-text-2 {
  margin: 0px;
  width: 220.09px;
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 10.5px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #595959;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  height: 100px;
  padding-bottom: 20px;
}
.card-heading {
  margin: 0px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
}
.card-heading-1,.card-heading-4{
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
}
.card-heading-2{
  margin: 0px;
  margin-top: 110px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #404040;
  font-weight: 900;
}
.card-heading-3{
  margin: 0px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  width: 90%;
  font-style: italic;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #494F56;

}
.card-heading-4{
  margin-top: 0px;
  z-index: 2;
}
.row-2 {
  display: flex;
  justify-content: space-evenly;
}
.overall-analysis {
  width: 600px;
  display: flex;
}
.dsa-col,.full-stack-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}
.analysis-text {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
}
.roadmap{
  width: 90%;
  padding-bottom: 20px;
  margin-inline: auto;
}
.download-btn{
  margin-left: 5px;
}
.analysis-box{
  display: flex;
  justify-content: space-between;
}
#analysis-text-id-dsa,#analysis-text-id-frontend{
  padding: 5px;
  margin-top: 50px;
  line-height: 16px;
  flex: 1;
}
#title {
  font-weight: bold;
}

#content {
  margin-top: 5px;
}

#basics {
  font-weight:900;
  background-color: rgb(252, 234, 98);
}

@media screen and (max-width: 980px) {
  .download-button {
    position: relative;
    /* bottom: -100px; */
    right: auto;
    top: auto;
    left: auto;
    bottom: auto;
    display: flex !important;
    justify-content: flex-end;
    margin: auto;
  }
  .button-div{
    background-color: white;
    width: 600px;
  }
}