.progress-bar-container {
    width: 100%;
    margin-top: 10px;
    height: 5px;
    background-color: #404040;
    border-radius: 5px;
    border: 0.1px solid #404040;
    overflow: hidden;
    margin-bottom: -5px;
    /* margin-inline: 10%; */
  }
  
  .progress-bar {
    height: 100%;
    background-color: white;
  }
  